p {

}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

#logo {
  display: inline-flex;
  width: 50%;
  margin-left: 30px;

}

#logo p {
  color: aquamarine;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 40px;
}

nav p {
  padding: 10px 10px;
}

.container {
  display:flex;
  border: 1px solid blue;
}

.column {
  display: flex;
  flex-direction: column;
}

.large {

}

.container .large {
  width: 630px;
  border: 1px solid blue;
}

.container .large h1 {
  border: 1px solid blue;
}

.medium {

}

.container .medium {
  width: 300px;
  border: 1px solid blue;
}

.small {

}

.container .small {
  width: 240px;
  border: 1px solid blue;
}

.main-story {
  font-size: 40px;
}

.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.articles {
  display: flex;

}

.article {
  flex-direction: row;
  border: 1px solid blue;
}

.large-left {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  border: 1px solid blue;
}

.large-right {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  border: 1px solid blue;
}

.medium-center {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  border: 1px solid blue;
}

.cookie {

}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
}

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer span {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 23px;
}
